@import 'clearfix';
@import 'font';

:root {
    --border-radius: 2px;
    --color-default: #e5e5e5;
    --color-primary: #8bc34a;
    --text-color-default: rgba(0, 0, 0, 0.9);
    --text-color-primary: rgba(255, 255, 255, 0.9);
    --card-background: white;
    --default-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    --page-background: #ddd;
    --control-padding: 8px;
    --font-size: 12px;
    --default-transition: 0.1s ease-in-out all;
    --border-width: 2px;
}

.body {
    background: var(--page-background);
}

.button {
    padding: var(--control-padding);
    border-radius: var(--border-radius);
    border: none;
    background: var(--color-default);
    color: var(--text-color-default);
    cursor: pointer;
    font-size: var(--font-size);
    text-decoration: none;
    line-height: 1;
}

.button--primary {
    background-color: var(--color-primary);
    color: var(--text-color-primary);
}

.button:disabled,
.button--disabled {
    cursor: not-allowed;
    opacity: 0.54;
    pointer-events: none;
}

.input,
.select {
    padding: calc(var(--control-padding) - var(--border-width));
    border-radius: var(--border-radius);
    background: var(--color-default);
    border: var(--border-width) solid transparent;
    transition: var(--default-transition);

    &:hover {
        border-color: var(--color-primary);
    }
}

.card {
    padding: 16px;
    background: var(--card-background);
    box-shadow: var(--default-shadow);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.dialog {
    background: var(--page-background);
    top: 32px;
    bottom: 32px;
    left: 32px;
    right: 32px;
    position: absolute;
    border-radius: var(--border-radius);
}
